COMPOSE_PROJECT_NAME=immo-opportunities
TZ=Europe/Paris
SITE_ADDRESS={{ immo_site_address }}
APP_DOMAIN={{ immo_domain }}
ACME_EMAIL={{ immo_acme_email }}
SECRETS_DIR={{ immo_secrets_dir }}
POSTGRES_DATA_PATH=/srv/immo/postgres
MINIO_DATA_PATH=/srv/immo/objects
RUNTIME_DATA_PATH=/srv/immo/runtime
POSTGRES_PLATFORM=linux/amd64
