postgres_superuser_password: CHANGE_ME
immo_db_password: CHANGE_ME
keycloak_db_password: CHANGE_ME
dagster_db_password: CHANGE_ME
martin_db_password: CHANGE_ME
redis_password: CHANGE_ME
minio_root_user: immo-production-admin
minio_root_password: CHANGE_ME
keycloak_admin_user: immo-production-admin
keycloak_admin_password: CHANGE_ME
grafana_admin_user: immo-production-admin
grafana_admin_password: CHANGE_ME

